RewriteEngine On

Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Headers "*"

#REGISTRO
RewriteRule ^auth/login$ login.php [NC,L]

#LOGIN
RewriteRule ^auth/register$ registro.php [NC,L]

#PERFIL
RewriteRule ^user/(\d+)$ eventosUsuario.php?id=$1  [NC,L]
RewriteRule ^user/desapuntar$ desapuntarEvento.php  [NC,L]

#JUEGOS
RewriteRule ^games/(\w+)$ juegos.php?q=$1 [NC,L]
RewriteRule ^games/(\d+)$ juegos.php?id=$1 [NC,L]
RewriteRule ^games/?$ juegos.php?q= [NC,L]

#EVENTOS
RewriteRule ^events/?$ eventos.php [NC,L]
RewriteRule ^events/tipos/?$ eventos_tipos.php [NC,L]

