RewriteEngine on

#Si no existe la url como fichero
# RewriteCond %{REQUEST_FILENAME} !-f
#Y no acaba en /
# RewriteCond %{REQUEST_URI} !(/$|\.) 
#Le ponemos un slash final
# RewriteRule (.*) %{REQUEST_URI}/ [R=301] 
RewriteRule ^auth/register$ autenticacion.php [L]


RewriteRule ^\/auth\/login$ bbdd.php
RewriteRule ^\/auth\/games$ bbdd.php?action=listaEventos
RewriteRule ^\/auth\/games/(\d+)$ bbdd.php
RewriteRule ^\/auth\/events(?:\/?page=(\d+))?$ bbdd.php
RewriteRule ^\/auth\/events\/(\d+)$ bbdd.php
RewriteRule ^\/auth\/users\/me\/events$ bbdd.php
RewriteRule ^\/auth\/events\/(\d+)\/singup$ bbdd.php
RewriteRule ^\/auth\/events\/(\d+)\/singup$ bbdd.php

RewriteRule ^/?deuda/?$ ./principal.php [NC,L]
RewriteRule ^/?deuda/(\d+)/?$ ./principal.php?com=$1 [NC,L]
RewriteRule ^/?deuda/(\d+)/(\d+)/?$  ./principal.php?com=$1&prov=$2 [NC,L]
RewriteRule ^/?deuda/(\d+)/(\d+)/(\d+)/?$  ./principal.php?com=$1&prov=$2&ayto=$3 [NC,L]