<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /~dw2t_jon_ismael/Reto_2/backend/

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /~dw2t_jon_ismael/Reto_2/frontend/index.html [L]
</IfModule>
