<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /~usuario/carpetaProyecto/

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /~usuario/carpetaProyecto/index.html [L]
</IfModule>
